@import "variables";

html{
  height: 130vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font_main;
  background-color: $ivory;
  
}

#nav {
  height: 80px;
  background-color: $ivory;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  z-index: 10;
}

#container {
  position: relative;
  padding: 0 40px;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.header_wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  align-content: center;  

  .header {
  font-size: 32px;
  color: $maroon;
  font-weight: 700;
}
#download{
  background-color: $maroon;
  width: 50px;
  height: 50px;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 300ms;

  img{
    width: 30px;
    height: auto;
  }
  &:hover{
    scale: 1.1;
  }
}
}

.content_container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.img_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;

  canvas {
    position: absolute;
  }

  .kitchenBg,
  .floorBg,
  .wallBg {
    width: 700px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;

    .kitchenBg {
      z-index: 1;
    }
    .floorBg {
      z-index: 2;
    }
    .wallBg {
      z-index: 0;
    }

    
  }
}
.select_container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 700px;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;

  .kitchen,
  .floor,
  .wall {
    h4 {
      text-decoration: underline;
      text-underline-offset: 15px;
      margin: 0;
    }
  }

  #kitchenMenu,
  #floorMenu,
  #wallMenu {
    p {
      text-decoration: none;
      font-size: 16px;
      transition: all ease-in-out 200ms;
      cursor: pointer;
      &:first-child {
        margin-top: 20px;
      }

      &:hover {
        color: $grey;
      }
    }
    .chosen{
      color: $brand;
    }
  }
}
